<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>Creating a compassionate world where individuals and businesses come together to support diverse causes, spanning from vulnerable communities to animals in need. Our platform leverages technology to enable convenient and transparent giving, fostering connections and trust among contributors and beneficiaries. We aspire to empower donors to make a meaningful impact aligned with their personal convictions, transforming the lives of those in need.</li>
		<li>We, at Nourish the needy, provides food to poor people across the country.</li>
		<li>Our main aim is to eliminate the hunger and satisfy the food needs of needy people by providing them from our donors.</li>
	</ul>
</div>