<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Our mission is to address a diverse array of needs, ranging from orphanages, elderly homes, school children, restaurants, cafes, local community organizations, to animal shelters</h4>
</div>